body{
  background-color: black;
  color: white;
}

h1{
  text-align: center;
}

.artigo-principals{
  width: 500px;
  margin: right;
  background-color: rgb(160, 160, 247);
  padding: 15px;
  border-radius: 20px;
  font-size: 21px;
  display: flex;
  position: relative;
  background-color: rgba(223, 255, 186, 0.466);
  height: auto;
  margin: auto;
}

.artigo-principalsx{
  width: 500px;
  margin: right;
  background-color: rgb(160, 160, 247);
  padding: 15px;
  border-radius: 20px;
  font-size: 21px;
  display: flex;
  position: relative;
  background-color: rgba(223, 255, 186, 0.466);
  transform: translateY(100px);
  
  
}


.artigo-principalsxx{
  width: 500px;
  background-color: rgb(160, 160, 247);
  padding: 15px;
  border-radius: 20px;
  font-size: 21px;
  position: flex;
  position: relative;
  background-color: rgba(223, 255, 186, 0.466);
  transform: translateX(1350px);
  top: -72px;
}




