
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

    header{
        text-align: center;
        background-color: white;
        text-align: center;
        border: 10px solid black;
        border-style: solid initial;
        border-width: 7px;
        border-radius: 10px;
        box-shadow: 10px 10px grey;
        padding: 30px;
        margin-top: 0px;
        margin-bottom: 50px;
}

.artigo-principal{
    width: 1000px;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
}